*{
    box-sizing: border-box;
    font-family: Monteserrat;
    text-align: center;
    align-items: center;
    
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: #23A6F0;
    color: white;
    border-radius: 5px ;
    border: none;
}
.foot{
    display: flex;
    justify-content: space-between;
}
header{
    background-image: url(/Assets/#hero-cover.3.png);
}
.more{
    display: flex;
    justify-content: space-between;
}
.more ul{
    list-style: none;
}
.conbutton{
    color: white;
    background-color: #23A6F0;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quotebutton{
    background-color: #23A6F0;
    color: white;
    border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 10px;
}
.learn{
    border-color: white;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    background-color: none;
}
.aboutus{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.what{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.people{
    display: flex;
    align-items: center;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.premium{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.free{
    display: flex;
    margin-left: 40px;
}
.standard{
    display: flex;
    margin-left: 40px;
}
.freem{
    border-style: solid;
    border-color: #23A6F0;
    border-radius: 10px ;
}
.std{
    border-style: solid;
    border-color: #23A6F0;
    border-radius: 10px ;
    background-color: #252b42 ;
    color: white;
}
.prem{
    border-style: solid;
    border-color: #23A6F0;
    border-radius: 10px ;
}
table{
    color: #23A6F0;
    font-weight: bolder;
}