*{
    box-sizing: border-box;
    text-align: center;
    align-items: center;
   
    
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: #23A6F0;
    color: white;
    border-radius: 5px ;
    border: none;
}
.foot{
    display: flex;
    justify-content: space-between;
}
header{
    background-image: url(Assets/hero-cover.3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 15%;
    color: #fff;

}

.more{
    display: flex;
    justify-content: space-between;
}
.more ul{
    list-style: none;
}
.conbutton{
    color: white;
    background-color: #23A6F0;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quotebutton{
    background-color: #23A6F0;
    color: white;
    border-radius: 15px 15px 15px 15px;
    border: none;
    padding: 10px;
}
.learn{
    border-color: white;
    color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    background-color: none;
}
.aboutus{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.what{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.people{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pp1{
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    margin-right: 20px;
}
.pp2{
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    margin-right: 20px;
}
.pp3{
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.premium{
    display: flex;
    align-items: center;
}
.free{
    display: flex;
    margin-left: 40px;
}
button{
    background-color: #23A6F0;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;

}
.standard{
    display: flex;
    margin-left: 40px;
    padding-top: 50px;
}
.freem{
    border-style: solid;
    border-color: #23A6F0;
    border-radius: 10px ;
}
.std{
    border-style: none;
    border-radius: 10px ;
    background-color: #252b42 ;
    color: white;
}
.prem{
    border-style: solid;
    border-color: #23A6F0;
    border-radius: 10px ;
}

.branch{
    display: flex;
    justify-content: center;
    background-color: #252b42;
    color: white;
    padding: 30px
}

